<%- include('parts/header')%>
<%- include('parts/nav')%>

<section id="aboutMeSection">
  <div id="topGrid">
    <h2 id="name">SHIZUKA (IZZY) SATO</h2>
    <img id="izzyImg" src="/images/izzy.png" alt="izzy">
    <div id="skills">
      <h3>Skills</h3>
      <ul id="skillsUl">
        <li>Java</li>
        <li>MongoDB / SQL / Firebase</li>
        <li>HTML / CSS / javascript</li>
        <li>Node</li>
        <li>Adobe Illustrator / Photoshop</li>
      </ul>
    </div>
    <div id="contact">
      <h3>Contact Me</h3>
      <p>email here</p>
      <p>phone here</p>
      <a href="" download>RESUME</a>
    </div>    
  </div>

  <div id="mapGrid">
    <div id="mapDiv">
      <img id="airplane" src="/images/airplane.svg" alt="airplane">
      <img id="traveler" src="/images/traveler.svg" alt="traveler">
    </div>
    <div id="timeline">
      <div id="containerLeft">
        <div id="born" class="timeCards">
          <div class="dots dotsL"></div>
          <div class="arrowL"></div>
          <h2>Born</h2>
          <p>Niigata is famous for rice farm and sake</p>
        </div>
        <div id="travel" class="timeCards">
          <div class="dots dotsL"></div>
          <div class="arrowL"></div>
          <h2>Traveled</h2>
          <p>Picking grape</p>
        </div>

        <div id="work" class="timeCards">
          <div class="dots dotsL"></div>
          <div class="arrowL"></div>
          <h2>Work</h2>
          <p>Product Service Analysis for 4 years</p>
        </div>
      </div>
      <div id="line"></div>
      <div id="containerRight">
        <div id="degree" class="timeCards">
          <div class="dots dotsR"></div>
          <div class="arrowR"></div>
          <h2>Degree</h2>
          <p>Art and Design in Tokyo</p>
        </div>
        <div id="moved" class="timeCards">
          <div class="dots dotsR"></div>
          <div class="arrowR"></div>
          <h2>Moved</h2>
          <p>Vancouver in 2012</p>
        </div>
        <div id="fashion" class="timeCards">
          <div class="dots dotsR"></div>
          <div class="arrowR"></div>
          <h2>Fashion</h2>
          <p>Studied Sewing and fashion design</p>
        </div>
        <div id="bcit" class="timeCards">
          <div class="dots dotsR"></div>
          <div class="arrowR"></div>
          <h2>CST BCIT</h2>
          <p>Completed 2021</p>
        </div>
      </div>
    </div>
  </div>
  
</section>

<%- include('parts/footer')%>