<%- include('parts/header')%>
<%- include('parts/nav')%>

<section id="aboutMeSection" class="mainSections">
  <div id="topGrid">
    <h2 id="name">SHIZUKA (IZZY) SATO</h2>
    <img id="izzyImg" src="/images/izzy.png" alt="izzy">
    <div id="skills" class="subtitle">
      <h3 class="aboutSubTitle" >Skills</h3>
      <ul id="skillsUl">
        <li>Java</li>
        <li>C#</li>
        <li>MongoDB / SQL / Firebase</li>
        <li>HTML / CSS / javascript</li>
        <li>Node</li>
        <li>MVC</li>
        <li>Adobe Illustrator / Photoshop</li>
      </ul>
    </div>
  </div>
  <div id="mapTimeDiv">
    <div id="mapDiv">
      <img id="airplane" src="/images/airplane.svg" alt="airplane">
      <img id="traveler" src="/images/traveler.svg" alt="traveler">
    </div>
    <div id="timeline">
      <div id="containerLeft">
        <div id="born" class="timeCards">
          <i class="fas fa-dot-circle dots dotsL"></i>
          <div class="arrowL"></div>
          <h2>Born</h2>
          <p>Niigata is famous for rice farm and sake</p>
        </div>
        <div id="travel" class="timeCards">
          <i class="fas fa-dot-circle dots dotsL"></i>
          <div class="arrowL"></div>
          <h2>Travel</h2>
          <p>Picking grape</p>
        </div>
        <div id="work" class="timeCards">
          <i class="fas fa-dot-circle dots dotsL"></i>
          <div class="arrowL"></div>
          <h2>Work</h2>
          <p>Product Service Analysis for 4 years</p>
        </div>
        <div id="bcit" class="timeCards">
          <i class="fas fa-dot-circle dots dotsL"></i>
          <div class="arrowL"></div>
          <h2>CST BCIT</h2>
          <p>Completed 2021</p>
        </div>
      </div>

      <div id="line"></div>

      <div id="containerRight">
        <div id="degree" class="timeCards">
          <i class="fas fa-dot-circle dots dotsR"></i>
          <div class="arrowR"></div>
          <h2>Degree</h2>
          <p>Art and Design in Tokyo</p>
        </div>
        <div id="moved" class="timeCards">
          <i class="fas fa-dot-circle dots dotsR"></i>
          <div class="arrowR"></div>
          <h2>Move</h2>
          <p>Vancouver in 2012</p>
        </div>
        <div id="fashion" class="timeCards">
          <i class="fas fa-dot-circle dots dotsR"></i>
          <div class="arrowR"></div>
          <h2>Fashion</h2>
          <p>Studied Sewing and fashion design</p>
        </div>
      </div>
    </div>
  </div>
  
</section>

<%- include('parts/footer')%>