<%- include('parts/header')%>
<%- include('parts/nav')%>

<section id="dunriteCodeSection" class="codeSection">
    <h2 class="codeMainTitle">Hottub App Sample Code</h2>
    <div class="codeDiv">
        <h3 class="codeTitle">views</h3>
        <hr />
        <div class="code">
            <h3 class="codeSubTitle">customerList.ejs</h3>
            <pre>
                <code class="snippetCode language-html" data-snippet="customerList.txt">
                    <!-- /snippets/customerList.txt -->
                </code>
            </pre>
            <h3 class="codeSubTitle">customerDetail.ejs</h3>
            <pre>
                <code class="snippetCode language-html" data-snippet="customerDetail.txt">
                    <!-- /snippets/customerDetail.txt -->
                </code>
            </pre>
            <h3 class="codeSubTitle">customerList.ejs</h3>
            <pre>
                <code class="snippetCode language-html" data-snippet="customerListEjs.txt">
                    <!-- /snippets/customerListEjs.txt -->
                </code>
            </pre>
        </div>
    </div>
    <div class="codeDiv">
        <h3 class="codeTitle">Server</h3>
        <hr />
        <div class="code">
            <h3 class="codeSubTitle">app.js</h3>
            <pre>
                <code class="snippetCode js" data-snippet="app.txt">
                    <!-- /snippets/app.txt -->
                </code>
            </pre>
        </div>
    </div>
    <div class="codeDiv">
        <h3 class="codeTitle">javascript</h3>
        <hr />
        <div class="code">
            <h3 class="codeSubTitle">addEditCustomer.js</h3>
            <pre>
                <code class="snippetCode js" data-snippet="addEditCustomer.txt">
                    <!-- /snippets/addEditCustomer.txt -->
                </code>
            </pre>
        </div>
        <div class="code">
            <h3 class="codeSubTitle">customerDetail.js</h3>
            <pre>
                <code class="snippetCode js" data-snippet="customerDetailJS.txt">
                    <!-- /snippets/customerDetailJS.txt -->
                </code>
            </pre>
        </div>
        <div class="code">
            <h3 class="codeSubTitle">login.js</h3>
            <pre>
                <code class="snippetCode js" data-snippet="login.txt">
                    <!-- /snippets/login.txt -->
                </code>
            </pre>
        </div>
    </div>
</section>

<%- include('parts/footer')%>