<%- include('parts/header')%>
<%- include('parts/nav')%>

<section id="hobbySection" class="mainSections">
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>
    <div class="bubbles"></div>

    <div class="hobbyDiv">
        <h2 class="hobbyTitle">Infographic</h2>
        <img id="graphicSea" class="infoG" src="/images/infographic_sea.png" alt="graphic project">
        <img id="graphicJapan" class="infoG" src="/images/infographic.png" alt="graphic project">
    </div>
    <div class="hobbyDiv">
        <h2 class="hobbyTitle">Fashion</h2>
        <div id="fashionRow1">
            <img class="fashionImg" src="/images/corset.png" alt="corset">
            <img class="fashionImg" src="/images/topdress.png" alt="top">
            <img id="theaterImg" class="fashionImg" src="/images/theater.png" alt="corset">
            <div id="fashionNote"><h3>Costume Designer at Metro Theatre</h3></div>
        </div>
        <div id="fashionRow2">
            <img class="dresses" src="/images/christmasdress.png" alt="dress image">
            <img class="dresses" src="/images/bluedress.png" alt="dress image">
            <img class="dresses" src="/images/christmasdress_back.png" alt="dress image">
        </div>
    </div>
    <div class="hobbyDiv">
        <h2 class="hobbyTitle">Garden</h2>
        <img class="gardenImg" src="/images/zucchini.jpg" alt="zucchini">
        <img class="gardenImg" src="/images/raddish.jpg" alt="raddish">
        <img class="gardenImg" src="/images/hybiscus.jpg" alt="hybiscus">
        <img class="gardenImg" src="/images/lime.jpg" alt="lime">
    </div>
</section>

<%- include('parts/footer')%>