<%- include('parts/header')%>
<%- include('parts/nav')%>

<section id="indexSection">
  <h2 class="title">PROJECTS</h2>
  <img src="/images/" alt="logo">
  <div id="hottubProj">
    <h2>Hottub</h2>
    <div class="demo">
      <h3>DEMO</h3>
      <video controls width="250">
        <source src="/media/cc0-videos/flower.webm" type="video/webm">
        <source src="/media/cc0-videos/flower.mp4" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
    <div class="techUsed">
      <h3>Technology Used</h3>
      <ul>
        <li>ejs / CSS</li>
        <li>Node</li>
        <li>MongoDB</li>
        <li>Illustrator</li>
      </ul>
    </div>
    <div class="links">
      <a class="srcLinks" href="#">Github</a>
      <a class="srcLinks" href="#">Repl.it</a>
    </div>
  </div>
  <div id="calenProj">
    <h2>Calendar</h2>
    <img src="/images/" alt="logo">
    <div class="demo">
      <h3>DEMO</h3>
      <video controls width="250">
        <source src="/media/cc0-videos/flower.webm" type="video/webm">
        <source src="/media/cc0-videos/flower.mp4" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
    <div class="techUsed">
      <h3>Technology Used</h3>
      <ul>
        <li>ejs / CSS</li>
        <li>Node</li>
        <li>MongoDB</li>
        <li>Illustrator</li>
      </ul>
    </div>
    <div class="links">
      <a class="srcLinks" href="#">Github</a>
      <a class="srcLinks" href="#">Repl.it</a>
    </div>
  </div>
  <div id="gardenProj">
    <h2>Garden</h2>
    <img src="/images/" alt="logo">
    <div class="demo">
      <h3>DEMO</h3>
      <video controls width="250">
        <source src="/media/cc0-videos/flower.webm" type="video/webm">
        <source src="/media/cc0-videos/flower.mp4" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
    <div class="techUsed">
      <h3>Technology Used</h3>
      <ul>
        <li>ejs / CSS</li>
        <li>Node</li>
        <li>MongoDB</li>
        <li>Illustrator</li>
      </ul>
    </div>
    <div class="links">
      <a class="srcLinks" href="#">Github</a>
      <a class="srcLinks" href="#">Repl.it</a>
    </div>
  </div>
</section>

<%- include('parts/footer')%>