<%- include('parts/header')%>

<section id="indexSection">
  <h2 id="indexFont">Welcome to Izzy's Portfolio</h2>
  <div id="indexBtnDiv">
    <a id="enter" href="/project">Enter</a>
  </div>
</section>

<%- include('parts/footer')%>