<%- include('parts/header')%>
<%- include('parts/nav')%>

<section id="projectSection" class="mainSections">
  <h2 class="title">PROJECTS</h2>

  <div id="projectDiv">

    <div class="projects" id="constructionProj">
      <div class="projGrid">
        <h2 class="projTitle">NextJS Sanity Construction App</h2>
        <h3 class="businessName">12 street Construction</h3>
        <p class="discription">This project is start-up construction business in Lower Mainland area.
          All contents are add, edit, and delete by Sanity.io (Content Management System)
        </p>
        <img class="projectLogos" src="/images/construction_logo.png" alt="logo">
        <div class="demo">
          <h3 class="projSubtitle projsubDiv" >Quick Demo</h3>
          <video controls width="250" height="240" controls>
            <source src="/media/plantApp.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>
        <div class="techUsed projsubDiv">
          <h3 class="projSubtitle">Technologies</h3>
          <ul class="techUl">
            <li>NextJS</li>
            <li>Sanity.io</li>
          </ul>
        </div>
        <div class="links projsubDiv">
          <h3 class="projSubtitle">Links</h3>
          <a class="srcLinks" href="https://github.com/IzzySato/construction">Github Sanity</a>
          <a class="srcLinks" href="https://github.com/IzzySato/construction_sanity">Github NextJS</a>
          <a class="srcLinks" href="/plantCode">Code Samples</a>
        </div>
      </div>
    </div>

    <div class="projects" id="bcitProj">
      <div class="projGrid">
        <h2 class="projTitle">BCIT Industry Sponsored Student Project</h2>
        <h3 class="businessName">Oknagan School Of the Arts</h3>
        <p class="discription">This is BCIT School project that worked on group of five people.
          Oknagan School Of the Arts offers performance and visual art courses. 
          The previous site was created and hosted by Weebly and uses Square payment systems.
          We created the web site from scratch using ReactJS and NodeJs and added admin pannel which
          is the client can create / edit / delete courses. Another new feature is attendance sheet which she can download the list of attendees for each course by CSV format.
        </p>
        <img class="projectLogos" src="/images/osa_logo.png" alt="logo">
        <div class="demo">
          <h3 class="projSubtitle projsubDiv" >Quick Demo</h3>
          <video controls width="250" height="240" controls>
            <source src="/media/plantApp.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>
        <div class="techUsed projsubDiv">
          <h3 class="projSubtitle">Technologies</h3>
          <ul class="techUl">
            <li>ReactJS</li>
            <li>NodeJS</li>
            <li>MongoDB</li>
            <li>Square payment</li>
            <li>MailChimp API</li>
          </ul>
        </div>
        <div class="links projsubDiv">
          <h3 class="projSubtitle">Links</h3>
          <a class="srcLinks" href="/plantCode">Code Samples</a>
        </div>
      </div>
    </div>
  </div>
    <div class="projects" id="gardenProj">
      <div class="projGrid">
        <h2 class="projTitle">ASP.NET Plant App</h2>
        <h3 class="businessName">Personal Project</h3>
        <p class="discription">
          This is personal project to learn .NET MVC.
          This app clean simple plant dictionary that user can create / edit / delete plant and search by plant name.
        </p>
        <img class="projectLogos" src="/images/g_logo.svg" alt="logo">
        <div class="demo">
          <h3 class="projSubtitle projsubDiv" >Quick Demo</h3>
          <video controls width="250" height="240" controls>
            <source src="/media/plantApp.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>
        <div class="techUsed projsubDiv">
          <h3 class="projSubtitle">Technologies</h3>
          <ul class="techUl">
            <li>HTML CSS JavaScript</li>
            <li>MVC (Model View Control)</li>
            <li>C#</li>
            <li>Adobe Illustrator</li>
          </ul>
        </div>
        <div class="links projsubDiv">
          <h3 class="projSubtitle">Links</h3>
          <a class="srcLinks" href="https://github.com/IzzySato/PlantApp">Github</a>
          <a class="srcLinks" href="/plantCode">Code Samples</a>
        </div>
      </div>
    </div>
  </div>

  <div class="projects" id="hottubProj">
      <div class="projGrid">
        <h2 class="projTitle">NodeJS Hot tub App</h2>
        <h3 class="businessName">Personal</h3>
        <p class="discription">
          This is my first NodeJS project that learning NodeJS and MongoDB.
          It stores hothub brands, models, and customer information.
        </p>
        <img class="projectLogos" src="/images/dunrite_logo.svg" alt="logo">
        <div class="demo projsubDiv">
          <h3 class="projSubtitle" >Quick Demo</h3>
          <video controls width="250" height="240" controls>
            <source src="/media/dunrite.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>
        <div class="techUsed projsubDiv">
          <h3 class="projSubtitle">Technologies</h3>
          <ul class="techUl">
            <li>ejs / CSS / JavaScript</li>
            <li>NodeJS</li>
            <li>MongoDB</li>
            <li>Adobe Illustrator</li>
          </ul>
        </div>
        <div class="links projsubDiv">
          <h3 class="projSubtitle">Links</h3>
          <a class="srcLinks" href="https://github.com/IzzySato/dunrite">Github</a>
          <a class="srcLinks" href="/dunriteCode">Code Samples</a>
        </div>
      </div>
    </div>
  </div>

</section>

<%- include('parts/footer')%>