<%- include('parts/header')%>
<%- include('parts/nav')%>

<section id="projectSection" class="mainSections">
  <h2 class="title">PROJECTS</h2>

  <div id="projectDiv">

    <div class="projects" id="gardenProj">
      <div class="projGrid">
        <h2 class="projTitle">ASP.NET Plant App</h2>
        <a href="/plantCode">
          <img class="projectLogos" src="/images/g_logo.svg" alt="logo">
        </a>
        <div class="demo">
          <h3 class="projSubtitle projsubDiv" >Quick Demo</h3>
          <video controls width="250">
            <source src="/media/plantApp.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>
        <div class="techUsed projsubDiv">
          <h3 class="projSubtitle">Technologies</h3>
          <ul class="techUl">
            <li>HTML CSS JavaScript</li>
            <li>MVC (Model View Control)</li>
            <li>C#</li>
            <li>Adobe Illustrator</li>
          </ul>
        </div>
        <div class="links projsubDiv">
          <h3 class="projSubtitle">Links</h3>
          <a class="srcLinks" href="https://github.com/IzzySato/PlantApp">Github</a>
          <a class="srcLinks" href="/plantCode">Code Samples</a>
        </div>
      </div>
    </div>
  </div>

  <div class="projects" id="hottubProj">
      <div class="projGrid">
        <h2 class="projTitle">NodeJS Hot tub App</h2>
        <img class="projectLogos" src="/images/dunrite_logo.svg" alt="logo">
        <div class="demo projsubDiv">
          <h3 class="projSubtitle" >Quick Demo</h3>
          <video controls width="250">
            <source src="/media/dunrite.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video>
        </div>
        <div class="techUsed projsubDiv">
          <h3 class="projSubtitle">Technologies</h3>
          <ul class="techUl">
            <li>ejs / CSS / javascript</li>
            <li>NodeJS</li>
            <li>MongoDB</li>
            <li>Adobe Illustrator</li>
          </ul>
        </div>
        <div class="links projsubDiv">
          <h3 class="projSubtitle">Links</h3>
          <a class="srcLinks" href="https://github.com/IzzySato/dunrite">Github</a>
          <a class="srcLinks" href="/dunriteCode">Code Samples</a>
        </div>
      </div>
    </div>
  </div>

</section>

<%- include('parts/footer')%>