<%- include('parts/header')%>
<%- include('parts/nav')%>

<section id="projectSection" class="mainSections">
  <h2 class="title">PROJECTS</h2>

  <div id="projectDiv">

    <div class="projects" id="gardenProj">
      <div class="projGrid">
        <h2 class="projTitle">Garden</h2>
        <img class="projectLogos" src="/images/g_logo.svg" alt="logo">
        <div class="demo">
          <h3 class="projSubtitle projsubDiv" >Quick Demo</h3>
          <!-- <video controls width="250">
            <source src="/media/cc0-videos/flower.webm" type="video/webm">
            <source src="/media/cc0-videos/flower.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video> -->
        </div>
        <div class="techUsed projsubDiv">
          <h3 class="projSubtitle">Technologies</h3>
          <ul class="techUl">
            <li>ejs / CSS / javascript</li>
            <li>Node</li>
            <li>MongoDB</li>
            <li>Adobe Illustrator</li>
          </ul>
        </div>
        <div class="links projsubDiv">
          <h3 class="projSubtitle">Links</h3>
          <a class="srcLinks" href="https://github.com/IzzySato/garden">Github</a>
          <a class="srcLinks" href="#">Repl.it</a>
        </div>
      </div>
    </div>
  </div>

  <div class="projects" id="calProj">
    <div class="projGrid">
      <h2 class="projTitle">Calendar</h2>
      <img class="projectLogos" src="/images/mu_logo.svg" alt="logo">
      <div class="demo">
        <h3 class="projSubtitle projsubDiv" >Quick Demo</h3>
        <!-- <video controls width="250">
          <source src="/media/cc0-videos/flower.webm" type="video/webm">
          <source src="/media/cc0-videos/flower.mp4" type="video/mp4">
          Sorry, your browser doesn't support embedded videos.
        </video> -->
      </div>
      <div class="techUsed projsubDiv">
        <h3 class="projSubtitle">Technologies</h3>
        <ul class="techUl">
          <li>ejs / CSS / javascript</li>
          <li>Node</li>
          <li>SQL</li>
          <li>Adobe Illustrator</li>
        </ul>
      </div>
      <div class="links projsubDiv">
        <h3 class="projSubtitle">Links</h3>
        <a class="srcLinks" href="https://github.com/IzzySato/muCalendar">Github</a>
        <a class="srcLinks" href="#">Repl.it</a>
      </div>
    </div>
  </div>
</div>

    <div class="projects" id="hottubProj">
        <div class="projGrid">
          <h2 class="projTitle">Hottub</h2>
          <img class="projectLogos" src="/images/dunrite_logo.svg" alt="logo">
          <div class="demo projsubDiv">
            <h3 class="projSubtitle" >Quick Demo</h3>
            <!-- <video controls width="250">
              <source src="/media/cc0-videos/flower.webm" type="video/webm">
              <source src="/media/cc0-videos/flower.mp4" type="video/mp4">
              Sorry, your browser doesn't support embedded videos.
            </video> -->
          </div>
          <div class="techUsed projsubDiv">
            <h3 class="projSubtitle">Technologies</h3>
            <ul class="techUl">
              <li>ejs / CSS / javascript</li>
              <li>Node</li>
              <li>MongoDB</li>
              <li>Adobe Illustrator</li>
            </ul>
          </div>
          <div class="links projsubDiv">
            <h3 class="projSubtitle">Links</h3>
            <a class="srcLinks" href="https://github.com/IzzySato/dunrite">Github</a>
            <a class="srcLinks" href="#">Repl.it</a>
          </div>
        </div>
      </div>
    </div>

</section>

<%- include('parts/footer')%>