@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed:wght@300&display=swap');

:root {
  --background-one: #E4E8E8;
  --background-two: #1f7979;
  --background-three: #f8f3ee;
  --background-four: rgb(0, 0, 0);
  --background-two-lighter: #2eb6b6;
  --background-three-lighter: #B2D6E1;
  --font-one: #ffff;
  --font-two: #161616d3;
  --index-point-color: #3cff00d3;
  --index-btn-color: #33a80fd3;
  --point-color: #cc6262d3;
  --point-color-two: #e6b03ed3;
  --bubble1: rgb(56, 139, 216);
  --bubble2: rgb(133, 168, 201);
  --bubble3: rgb(35, 176, 201);
  --bubble4: rgb(233, 232, 250);
}

body {
  color: var(--font-two);
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background-color: var(--background-three);
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  list-style: none;
}

 a {
   text-decoration: none;
 }

 h2, h3 {
   padding: 0;
   margin: 0;
 }

/* navigation */

#phoneMenu {
  display: none;
}

nav {
  background-color: var(--background-two);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav ul {
  text-align: center;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  justify-content: center;
}

nav ul li {
  padding: 3% 0;
}

nav ul li a {
  font-size: 1.5rem;
  color: var(--font-one);
}


nav ul li:hover {
  background-color: var(--background-two-lighter);
  cursor: pointer;
}

li.nHobby.hobby, li.nAbout.aboutMe, li.nProj.project {
  background-color: var(--background-three-lighter);
}

.title {
  text-align: center;
  font-size: 2.5rem;
}

.mainSections {
  margin-top: 10%;
}

/* index */

#indexSection {
  background-color: var(--background-four);
  color: var(--index-point-color);
  text-align: center;
  padding: 10% 0;
  font-family: 'Press Start 2P', cursive;
  height: 800px;
  text-transform: uppercase;
}

#indexFont {
  margin: 12% auto;
  font-size: 2.3rem;
  width: 27ch;
  animation: typing 4s steps(27), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
  
}

@keyframes typing {
  from {
    width: 0
  }
}
    



#indexBtnDiv {
  text-align: center;
  margin: 15% auto;
  background-color: var(--index-btn-color);
  border-radius: 10px;
  padding: 2% 3%;
  width: 213px;
  height: 26px;
}

#enter {
  color:var(--font-one);
  font-size: 1.3rem;
  animation: blinkBtn 1.3s linear infinite;
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* button effect */
@keyframes blinkBtn{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }


/* project */

.projects {
  padding: 5%;
}

.projGrid {
  display: grid;
  grid-template-columns: 20% 20% 30% auto;
  grid-template-areas:
  "title title title title"
  "logo tech links demo";
  padding: 5%;
  border: 1px solid var(--background-two);
  border-radius: 15px;
  color:var(--font-two);
}

.projTitle {
  grid-area: title;
  margin-bottom: 5%;
  font-size: 2.2rem;
}

.projSubtitle {
  font-size: 1.5rem;
  margin-bottom: 7%;
}

.techUl li {
  margin-bottom: 10px;
}

.projectLogos {
  grid-area: logo;
  width: 70%;
}

.demo {
  grid-area: demo;
}

.techUsed {
  grid-area: tech;
}

.links {
  grid-area: links;
}

.srcLinks {
  color: var(--font-one);
  display: block;
  margin-bottom: 5%;
  font-size: 1.5rem;
  background-color: var(--background-two);
  padding: 2% 3%;
  width: 50%;
  border-radius: 10px;
  text-align: center;
}

/* about me */

#topGrid {
  display: grid;
  grid-template-columns: 20% 15% 25% auto;
  grid-template-areas:
  "name name name name"
  "img contact skills skills";
}

#name {
  font-size: 2.5rem;
  grid-area: name;
  margin: 0 0 7% 5%;
}

.subtitle {
  font-size: 1.3rem;
}

.aboutSubTitle {
  color: var(--font-two);
  border-bottom: 1px solid var(--font-two);
}

#izzyImg {
  width: 150px;
  border-radius: 50%;
  grid-area: img;
  margin-left: 33%;
  margin-top: 10%;
}

#skills {
  grid-area: skills;
  background-color: var(--background-two-lighter);
  border-radius: 10px;
  padding: 3% 4%;
  width: 20%;
  color: var(--font-one);
}

#contact {
  grid-area: contact;
}

#resume {
  background-color: var(--background-two);
  border-radius: 10px;
  padding: 1%;
  color: var(--font-one);
}

#skillsUl li {
  margin-top: 7px;
}

#mapDiv {
  position: relative;
  background-image: url("/images/travelboard.svg");
  background-repeat: no-repeat;
  width: 800px;
  height: 857px;
  background-position: center;
}

#traveler {
  width: 50px;
  position: absolute;
  animation: traveler 9s linear forwards infinite;
  transform-origin: center 230%;
  bottom: 254px;
  left: 237px;
}

#airplane {
  width: 120px;
  position: absolute;
  offset-path: path("M135.18,180.52c-63.95,22.73-61.86,123.13-51.24,183.11c13.14,74.2,65.34,196.48,194.55,198.89 c125.26,2.34,176.96-152.1,76.93-281.98C292.44,198.77,172.29,167.34,135.18,180.52z");
  left: -9px;
  top: 1px;
  animation: plane 8s linear forwards infinite;
}

@keyframes plane {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes traveler {
  to { transform: rotate(1turn); } 
}

#timeline {
  position: absolute;
  right: 2%;
  top: 20%;
  width: 35%;
  display: grid;
  grid-template-columns: 44% 10% 43%;
  background-color: var(--background-one);
  border-radius: 10px;
  padding: 5% 2% 0 2%;
}

#containerRight {
  margin-left: 5%;
}

.dots {
  position: absolute;
  font-size: 1.4rem;
}

.dotsL {
  top: 19%;
  left: 107%;
  color: var(--point-color);
}

.dotsR {
  top: 22%;
  left: -23%;
  color: var(--point-color-two);
}

.arrowL {
  position: absolute;
  left: 96%;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid rgb(255, 255, 255);
}

.arrowR {
  position: absolute;
  top: 14%;
  left: -13%;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right: 30px solid rgb(255, 255, 255); 
}

#line {
  width: 1px;
  background-color: black;
  height: 100%;
  margin: 0 auto;
}

#containerRight {
  padding-top: 45%;
}

.timeCards {
  background-color: white;
  padding: 7% 16%;
  margin-bottom: 50%;
  border-radius: 15px;
  position: relative;
  animation-fill-mode: forwards;
  opacity: 0;
  animation: fadeIn linear 7s infinite;
}

#born {
  animation-delay: 0.5s;
}

#degree {
  animation-delay: 1s;
}

#travel {
  animation-delay: 2s;
}

#moved {
  animation-delay: 3s;
}

#work {
  animation-delay: 4s;
}

#fashion {
  animation-delay: 5s;
}

#bcit {
  animation-delay: 6s;
}


@keyframes fadeIn {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* hobby page */

#hobbySection {
  text-align: center;
  position: relative;
}

@keyframes sideWays { 
  0% { 
      margin-left: 300px;
  }
  100% { 
      margin-left: 400px;
  }
}

@keyframes animateBubble {
  0% {
      margin-top: 700px;
  }
  100% {
      margin-top: 0px;
  }
}

.bubbles {
  border-radius: 50%;
  position: absolute;
}

.bubbles:first-child {
  animation: animateBubble 30s linear infinite, sideWays 6s 
  ease-in-out infinite alternate;
  width: 30px;
  height: 30px;
  left: 2%;
	top: 2%;
  background-color: var(--bubble1);
}

.bubbles:nth-child(2) {
  animation: animateBubble 25s linear infinite, sideWays 4s 
  ease-in-out infinite alternate;
  width: 35px;
  height: 35px;
  left: 3%;
  background-color: var(--bubble2);
}

.bubbles:nth-child(3) {
  animation: animateBubble 25s linear infinite, sideWays 4s 
  ease-in-out infinite alternate;
  background-color: var(--bubble3);
  width: 25px;
  height: 25px;
  left: 11%;
	top: 5%;
}

.bubbles:nth-child(4) {
  animation: animateBubble 25s linear infinite, sideWays 4s 
  ease-in-out infinite alternate;
  background-color: var(--bubble4);
  width: 32px;
  height: 32px;
  left: 2%;
	top: 12%;
}

.bubbles:nth-child(5) {
  animation: animateBubble 25s linear infinite, sideWays 4s 
  ease-in-out infinite alternate;
  background-color: var(--bubble2);
  width: 15px;
  height: 15px;
  left: 15%;
	top: 3%;
}

.bubbles:nth-child(6) {
  animation: animateBubble 25s linear infinite, sideWays 4s 
  ease-in-out infinite alternate;
  background-color: var(--bubble4);
  width: 15px;
  height: 15px;
  left: 1%;
	top: 9%;
}

.bubbles:nth-child(7) {
  animation: animateBubble 25s linear infinite, sideWays 4s 
  ease-in-out infinite alternate;
  background-color: var(--bubble4);
  width: 30px;
  height: 30px;
  left: 20%;
	top: 10%;
}

.hobbyTitle {
  font-size: 2.5rem;
  margin-bottom: 2%;
}

.hobbyDiv {
  margin: 8% 0;
}

#graphicSea {
  width: 50%;
  margin-bottom: 5%;
}

#graphicJapan {
  width: 80%;
}

.fashionImg {
  margin: 2%;
  border-radius: 10px;
}

#fashionRow1 {
  position: relative;
}

#fashionNote {
  display: none;
  position: absolute;
  top: 79%;
  right: 12%;
  background-color: var(--background-one);
  padding: 1% 2%;
  border-radius: 5px;
  font-size: 0.7rem;
}

#fashionNote.show {
  display: block;
}

.dresses {
  border-radius: 10px;
  width: 200px;
  margin: 3%;
}

.gardenImg {
  width: 300px;
  height: 300px;
  margin-right: 2%;
  border-radius: 50%;
}

/* max size 1070px */
@media only screen and (max-width: 1070px) {

  /* index */

  #indexFont {
    font-size: 1.5rem;
  }

  /* About me */
  #topGrid {
    grid-template-columns: 30% 20% auto;
    grid-template-areas:
    "name name name"
    "img contact skills";
  }

  #izzyImg {
    margin-top: 0;
  }

  #skills {
    width: 80%;
  }

  #timeline {
    right: 2%;
    top: 99%;
    width: 45%;
    grid-template-columns: 44% 10% 43%;
    background-color: var(--background-one);
    border-radius: 10px;
    padding: 5% 2% 0 2%;
  }

  .arrowL {
    top: 11%;
  }
}

/* max size 950px */
@media only screen and (max-width: 950px) {

  /* index projects */
  .projGrid {
    grid-template-columns: 50% auto;
    grid-template-areas:
    "title title"
    "logo tech"
    "demo links";
  }

  .demo {
    margin-top: 15%;
  }

  /* hobby */
  #graphicSea {
    width: 90%;
  }

  #fashionNote {
    top: 88%;
    right: 37%;
  }
}

/* max size 800px */
@media only screen and (max-width: 800px) {

   /* About me */
  #mapDiv {
    margin: 0 auto;
    width: 600px;
    height: 700px;
  }

  #airplane {
    width: 80px;
    left: 0px;
    top: 43px;
    offset-path: path("M82.84,132.71c-50.39,17.91-48.74,97.02-40.37,144.28c10.35,58.46,51.49,154.8,153.29,156.71 c98.69,1.84,139.42-119.84,60.61-222.17C206.74,147.08,112.08,122.32,82.84,132.71z");
  }

  #traveler {
    width: 40px;
    transform-origin: center 200%;
    bottom: 228px;
    left: 160px;
  }

  #topGrid {
    margin-top: 10%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "name name"
    "img contact"
    "skills skills";
  }

  .subtitle {
    font-size: 2rem;
  }

  #name {
    margin: 7% auto;
  }

  #izzyImg {
    width: 60%;
  }

  #contact {
    margin-left: 10%;
  }

  #contact p {
    font-size: 1.3rem;
  }

  #skills {
    margin: 10% auto;
  }

  #timeline {
    top: 172%;
    width: 80%;
    grid-template-columns: 44% 10% 43%;
    background-color: var(--background-one);
    border-radius: 10px;
    padding: 5%;
    margin: 3%;
  }

  .arrowR {
    border-right: 40px solid rgb(255, 255, 255);
  }

}

/* max size 700px */
@media only screen and (max-width: 700px) {

  /* index */
  #indexFont {
    font-size: 1rem;
  }

  .mainSections {
    margin-top: 30%;
  }

  /* navigation */
  .navLines {
    background-color: var(--background-one);
    height: 8px;
    width: 70px;
    margin-bottom: 3%;
  }

  #navUl {
    display: none;
  }

  #navUl.show {
    display: block;
  }

  #phoneMenu {
    padding-left: 5%;
    padding-bottom: 3%;
    display: block;
    z-index: 3;
  }

  #phoneMenu:hover {
    cursor: pointer;
  }

  nav {
    padding-top: 5%;
    background-color: var(--background-two);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  nav ul {
    text-align: left;
    grid-template-columns: 100%;
    justify-content: left;
  }
  
  nav ul li {
    padding-left: 5%;
  }

  /* projects */
  .projGrid {
    grid-template-columns: 50% auto;
    grid-template-areas:
    "logo title"
    "tech links"
    "demo demo";
  }

  .projTitle {
    margin-top: 20%;
  }

  .projectLogos {
    width: 40%;
    padding: 10% 0;
  }

  .demo {
    margin-top: 5%;
  }

}

@media only screen and (max-width: 600px) {

  /* About me */
  #mapDiv {
    width: 500px;
  }

  #airplane {
    width: 35px;
    top: 94px;
    offset-path: path("M75.67,116.23c-40.38,14.35-39.06,77.75-32.35,115.63c8.3,46.85,41.26,124.07,122.85,125.59 c79.1,1.48,111.74-96.05,48.58-178.06C174.97,127.75,99.11,107.9,75.67,116.23z");
  }

  #traveler {
    width: 30px;
  }

}

/* max size 550px */
@media only screen and (max-width: 550px) {

    /* About me */
    #mapDiv {
      width: 400px;
    }
  
    #airplane {
      top: 143px;
      offset-path: path("M60.73,92.38c-32.41,11.52-31.35,62.4-25.96,92.79c6.66,37.6,33.11,99.57,98.59,100.79 c63.48,1.19,89.67-77.08,38.98-142.9C140.42,101.63,79.53,85.7,60.73,92.38z");
    }
  
    #traveler {
      transform-origin: center 164%;
      bottom: 266px;
      left: 102px;
    }

  /* index projects */
  .projGrid {
    grid-template-columns: 30% auto;
    grid-template-areas:
    "logo title"
    "tech tech"
    "links links"
    "demo demo";
    justify-content: center;
  }

  .projTitle {
    margin-top: 10%;
  }

  .projectLogos {
    width: 80%;
    padding: 10% 0;
  }

  .projsubDiv {
    margin: 5% 0;
  }

  .srcLinks {
    width: 90%;
    font-size: 2rem;
  }

  .techUl li {
    font-size: 1.2rem;
  }
}