<nav>
  <div id="phoneMenu">
    <div class="navLines"></div>
    <div class="navLines"></div>
    <div class="navLines"></div>
  </div>
  <ul id="navUl">
      <li data-name="project" class="navLi nav nProj <%- page %>"><a href="\">PROJECTS</a></li>
      <li data-name="aboutMe" class="navLi nav nAbout <%- page %>"><a href="\aboutMe">ABOUT ME</a></li>
  </ul>
</nav>